<footer class="text-center text-lg-start bg-dark mt-5">
    <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-warning btn-lg btn-floating mx-2">
            <i class="bi bi-git""></i>
        </button>
        <button type=" button" class="btn btn-warning btn-lg btn-floating mx-2">
                <i class="bi bi-youtube"></i>
        </button>
        <button type="button" class="btn btn-warning btn-lg btn-floating mx-2">
            <i class="bi bi-facebook"></i>
        </button>
        <button type="button" class="btn btn-warning btn-lg btn-floating mx-2">
            <i class="bi bi-twitter"></i>
        </button>
<!--    <button type="button" class="btn btn-warning btn-lg btn-floating mx-2"
        style="background-color: rgba(0, 0, 0, 0.2);">
        <i class="bi bi-twitter"></i>
        </button>
--> 
    </div>

    <div class="text-center text-warning p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-warning text-decoration-none" href="">Jeremy Nguyen</a>
    </div>
</footer>